#as{
height:50px;
width:50px;
}
h1{
    color:lightblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-image: url('eceb7990b39fa62d4189f57f2076712f.png');

}
h4{
    padding-left: 40%;
    padding-right:40%;
}
#user_name,#password{
    border-width: 3px;
    border-style: ridge;
    border-radius:15;
    width:200px;
}
#back{
    background-color: white;
    height: 300px;
    width:400px;
    border-style: ridge;
    border-width:5px;
    background:linear-gradient(#f7d094 0%, #97cff7 100%);
    border-radius:30px;
}
h4{
    color:red;
    font-family: cursive;
    font-size:22px;
    margin-bottom:50px;
}   